window._tip = window._tip || {}
window._tip.tip = function(o) { this._initialize(o); return this }

var _T = window._tip.tip,
s = document.createElement('style')

s.innerHTML = '.tip { position: absolute; background-color: #f4f1b7; border-radius: 10px; padding: 0; } .tip div.internal { padding: 20px; } '
s.setAttribute('type', 'text/css')
document.body.appendChild(s)

_T.prototype = {
  _point: null,
  _id: null,
  _size: null,
  _body: null,
  _div: null,
  _initialize: function(o) {
    this._id = o['_id']
    this._point = o['point']
    this._size = o['size']
    this._body = o['body']
  },
  
  draw: function() {
    var style = [
      'left:', this._point['l'], 'px;',
      'top:', this._point['t'], 'px;',
      'width:', this._size['w'], 'px;',
      'height:', this._size['h'], 'px;'
    ].join('')
    this._div = document.createElement('div')
    this._div.setAttribute('id', this._id)
    this._div.setAttribute('class', 'tip')
    this._div.setAttribute('style', style)
    this._div.innerHTML = "<div class='internal'>" + this._body + "</div>"
    document.body.appendChild(this._div)
  }
}

<% @tips.each do |tip| %>
  var t = new _T(<%= tip.to_json.html_safe %>);
  t.draw()
<% end %>
