<!DOCTYPE html>
<html>
<head>
  <title>Tips</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jq' %>
  <%= csrf_meta_tag %>
  <style type="text/css" media="screen">
    body { padding: 0; margin: 0; font: 18px Arial,Helvetica,"Nimbus Sans L",sans-serif; }
    .page-form { position: absolute; background-color: #999; left: 20px; top: 20px; border-radius: 20px; opacity: 0.9; z-index: 150; }
    .page-form div { padding: 20px; }
    iframe { border: 0; margin: 0; padding: 0; }
    .overlay { width: 100%; height: 30000px; position: absolute; left: 0; top: 0; background: #BBB; opacity: 0.2; z-index: 100;}
  </style>
</head>
<body>

<%= yield %>

</body>
</html>
